<section class="hero is-link">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Welcome to Mission Board</h1>
      <h2 class="subtitle">A small project management app built with Ruby on Rails</h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-7">
        <div class="content">
          <h3 class="title is-3">Why is Mission Board so awesome?</h3>
          <p>dsjalfkdsflkdakdfjdak;ldj fjdksa;sldkfjdafj kldsa;dslkfjd sajkfl</p>
          <p>djsafdsfjdslakfjsdfdlskfjdkslafjsdfkla;df;kadfj</p>
          <p>fdjafkdlsf;dklafjdsfkdlsaf;sdlkfjdkflad;fkadsfjkdlsa;sdklfjdkla</p>
          <p>djfadl;fjdkfas;faslfkadfjdsklfjasd;fkdsjafkdl;aklf</p>
        </div>
      </div>
      <div class="column is-4 is-offset1">
        <h4 class="subtitle is-4">Sign Up Today!</h4>
        <%= link_to 'Sign Up', new_user_registration_path, class: "button is-link is-outlined" %>
      </div>
    </div>
  </div>
</section>
