<section class="hero is-info shadow-xl">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Welcome to Mission Board</h1>
      <h2 class="subtitle">A small project management app built with Ruby on Rails</h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-7">
        <div class="content">
          <h3 class="title is-3">Why is Mission Board so awesome?</h3>
          <p>We use cutting edge technology to make building a project seamless.</p>
          <p>Our platform is built to meet the most demanding tasks and keep your team on task.</p>
          <p>Host a team and invite members to join the team's tasks.</p>
          <p>Or simply host your own project and use our platform to keep you on track.</p>
        </div>
      </div>
      <div class="column is-4 is-offset1">
        <h4 class="subtitle is-4">Sign Up Today!</h4>
        <%= link_to 'Sign Up', new_user_registration_path, class: "button is-info is-large is-outlined" %>
      </div>
    </div>
  </div>
</section>
